{{extend '../layout.html'}}
{{block 'content'}}
<div class="container-fluid">
  <div class="page-title">
    <h1>用户</h1>
  </div>
  <!-- 有错误信息时展示 -->
  <!-- <div class="alert alert-danger">
      <strong>错误！</strong>发生XXX错误
    </div> -->
  <div class="row">

    <div class="col-md-8">
      <div class="page-action">
        <!-- show when multiple checked -->
        <a class="btn btn-danger btn-sm" href="javascript:;" style="display: none">批量删除</a>
      </div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center" width="40"><input type="checkbox"></th>
            <th class="text-center" width="80">头像</th>
            <th>邮箱</th>
            <th>昵称</th>
            <th>状态</th>
            <th class="text-center" width="100">操作</th>
          </tr>
        </thead>
        <tbody>
          {{each arr}}
          <tr>
            <td class="text-center"><input type="checkbox"></td>
            <td class="text-center"><img class="avatar" src="../assets/img/default.png"></td>
            <td>{{$value.admin_email}}</td>
            <td>{{$value.admin_nickname}}</td>
            <td>{{$value.admin_state}}</td>
            <td class="text-center">
              <a href="post-add.php" data={{$value.id}} class="btn btn-default btn-xs">编辑</a>
              <a href="/admin/user/delete?id={{$value.id}}" class="btn btn-danger btn-xs">删除</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{/block}}

{{block 'js'}}

{{/block}}