{{extend '../layout.html'}}
{{block 'content'}}
<div class="container-fluid">
  <div class="page-title">
    <h1>图片轮播</h1>
  </div>
  <!-- 有错误信息时展示 -->
  <!-- <div class="alert alert-danger">
    <strong>错误！</strong>发生XXX错误
  </div> -->
  <div class="row">
    <div class="col-md-4">
      <form>
        <h2>添加新轮播内容</h2>
        <div class="form-group">
          <label for="image">图片</label>
          <!-- show when image chose -->
          <img class="help-block thumbnail" style="display: none">
          <input id="image" class="form-control" name="image" type="file">
          <input type="hidden" name="image_hidden" id="image_hidden">
        </div>
        <div class="form-group">
          <label for="text">文本</label>
          <input id="text" class="form-control" name="text" type="text" placeholder="文本">
        </div>
        <div class="form-group">
          <label for="link">链接</label>
          <input id="link" class="form-control" name="link" type="text" placeholder="链接">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="button">添加</button>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <div class="page-action">
        <!-- show when multiple checked -->
        <a class="btn btn-danger btn-sm" href="javascript:;" style="display: none">批量删除</a>
      </div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center" width="40"><input type="checkbox"></th>
            <th class="text-center">图片</th>
            <th>文本</th>
            <th>链接</th>
            <th class="text-center" width="100">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><input type="checkbox"></td>
            <td class="text-center"><img class="slide" src="../assets/img/slide_1.jpg"></td>
            <td>XIU功能演示</td>
            <td>#</td>
            <td class="text-center">
              <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
            </td>
          </tr>
          <tr>
            <td class="text-center"><input type="checkbox"></td>
            <td class="text-center"><img class="slide" src="../assets/img/slide_2.jpg"></td>
            <td>XIU功能演示</td>
            <td>#</td>
            <td class="text-center">
              <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{{/block}}

{{block 'js'}}
<script>
  // 文件上传
  // 当文件域（id='image'）的 内容发生变化的时候，然后调用api接口，完成上传
  $('#image').change(function () {
    var fd = new FormData();
    var fileObj = this.files[0];
    fd.append('avatar', fileObj);
    // 发送ajax请求
    $.ajax({
      type: 'post',
      url: '/api/uploads',
      data: fd,
      processData: false,
      contentType: false,
      success: function (res) {
        $('#image_hidden').val(res.path);
      },
      dataType: 'json'
    });
  });
</script>
<script>
  $('button').click(function () {
    $.post('/admin/other/addSildes', $('form').serialize(), function (res) {
      alert(res.message);
      if (res.code === 200) {
        location.reload();
      }
    }, 'json');
  });
</script>
<script src="assets/vendors/art-template/template-web.js"></script>
<script type="text/html" id="ss">
  {#each arr#}
  <tr>
    <td class="text-center"><input type="checkbox"></td>
    <td class="text-center"><img class="slide" src="{#$value.pic_url#}"></td>
    <td>{#$value.pic_text#}</td>
    <td>{#$value.pic_link#}</td>
    <td class="text-center">
      <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
    </td>
  </tr>
  {#/each#}
</script>
<script>
  // 获取轮播图列表
  template.defaults.rules[1].test = /{#([@#]?)[ \t]*(\/?)([\w\W]*?)[ \t]*#}/;
  $.post('/api/other/slides', function (res) {
    if (res.code !== 200) {
      alert(res.message);
      return;
    }
    var html = template('ss', {
      arr: res.data
    });
    // 把模板和数据组合好的结果，添加到tbody中
    $('tbody').html(html);
  }, 'json');
</script>
{{/block}}