{{extend '../layout.html'}}
{{block 'content'}}
<div class="container-fluid">
  <div class="page-title">
    <h1>添加栏目</h1>
  </div>
  <!-- 有错误信息时展示 -->
  <!-- <div class="alert alert-danger">
    <strong>错误！</strong>发生XXX错误
  </div> -->
  <div class="row">
    <div class="col-md-4">
      <form id="mainForm">
        <h2>添加新栏目</h2>
        <div class="form-group">
          <label for="name">名称</label>
          <input id="name" class="form-control" name="cate_name" type="text" placeholder="分类名称">
        </div>
        <div class="form-group">
          <label for="icon">图标</label>
          <input id="icon" class="form-control" name="cate_icon" type="text" placeholder="图标">
        </div>
        <div class="form-group">
          <button id="addBtn" class="btn btn-primary" type="button">添加</button>
        </div>
      </form>
    </div>

  </div>
</div>
{{/block}}

{{block 'js'}}
<script>
  $('#addBtn').click(function () {
    $.post('/admin/cate/add', $('form').serialize(), function (res) {
      alert(res.message);
      if (res.code == 200) {
        location.href = '/admin/cate/cate.html'
      }
    }, 'json');
  });
</script>
{{/block}}